@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  background-color: #0E111A;
  color: #fff;
}

.container {
  @apply px-5;
}

.page-title {
  @apply flex items-center text-xs uppercase text-water tracking-wide gap-2;
}