@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  background-color: #0E111A;
  color: #fff;
}